<h3 style="text-align:center">USER ACTIONS</h3>

<button (click)="viewUsers()">VIEW USERS</button>
&nbsp;
<button (click)="addUser()">ADD STATIC USER</button>
&nbsp;
<button (click)="deleteUser()">DELETE STATUS</button>
&nbsp;
<button (click)="updateUser()">UPDATE STATUS</button>
&nbsp;
<button (click)="register()">REQUEST UNSUCCESSFUL</button>

  <div *ngIf="viewStatus">
  <h3>List of Users</h3>  
  <div *ngFor="let user of users" class="block">
    {{user | json}}
  </div>
</div>

  <div *ngIf="addStatus">
  <h3>List of Users after adding:-</h3>  
  <div *ngFor="let user of users" class="block">
    {{user | json}}
  </div>
</div>


  <div class="block" *ngIf="deleteStatus">
  <h3>USER HAS BEEN DELETED</h3>
</div>

  <div class="block" *ngIf="updateStatus">
  <h3>User details have been updated.</h3>  
</div>
